<%= form_for @image, :html => { :multipart => true, :class => "form-inline" } do |f| %>

  <div class="form-group">
    <%= f.label :content, "Submit your picture" %><br />
    <%= f.file_field :content %>
	</div>

	<div class="form-group">
    <%= f.label :tag_list, "Tags (seperated by commas)" %><br />
    <%= f.text_field :tag_list %>
  </div>

    <%= f.submit "Upload", class: "btn btn-default"%>
    
<% end %>