<%= form_for @image, :html => { :multipart => true } do |f| %>

  <div class="form-group">

    <%= f.label :content, "Submit your picture" %><br />
    <%= f.file_field :content %>

    <%= f.label :tag_list, "Tags (seperated by commas)" %><br />
    <%= f.text_field :tag_list %>

    <%= f.submit "Upload" %>
  </div>
<% end %>