<div id="tag-cloud">
  <% tag_cloud Image.tag_counts, %w[css1, css2, css3, css4] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<%= paginate @images %>

<div class="row">
  <div id="grid" class="span12">
    <% @images.each do |image| %>
      <%= link_to image do %>
        <%= image_tag image.content.url(:thumb), class: 'img-responsive img-thumbnail image' %>
      <% end %>
    <% end %>
  </div>
</div>

<br />

<%= link_to 'New Image', new_image_path, class: 'btn btn-large btn-primary' %>
