<p><%= image_tag @image.content.url %></p>

<% if @image.user.nil? %>
  <p>User: Anonymous</p>
<% else %>
  <p><%= @image.user.email %>
<% end %>  

<p><strong>Tags: </strong><%= raw @image.tag_list.map { |t| link_to t, tag_path(t) }.join(", ") %></p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
<% if user_signed_in? && current_user.id == @image.user_id  %>
  | <%= link_to 'Delete', @image, method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
