<p><%= image_tag @image.content.url %></p>

<% if @image.user.nil? %>
  <p><strong>User: </strong>Anonymous</p>
<% else %>
  <p><strong>User: </strong><%= @image.user.username %>
<% end %>  

<p><strong>Tags: </strong><%= print_image_tag_links @image %></p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
<% if (user_signed_in? && current_user.id == @image.user_id) || (current_user && current_user.admin?)  %>
  | <%= link_to 'Delete', @image, method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
